.map-container{
    float:left;
    position: relative;
    height: 100%;
    width: 80%;
}
.map{
    height: 100%;
    width: 100%;
    background: url(background.jpg);
}

.figure-control{
    padding-right: 200px;
    float: right;
    padding-top: 50px;
}

.css-triangle{
    margin-right: -20px;
    margin-top: -110px;
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
}

.info-message{
    padding: 5px;
    border-radius: 10px;
    min-height: 200px;
    width: 445px;
    background: white;
}

.custom-popover{
    margin-top: -110px;
    display: none;
    margin-left: -480px;
    z-index: 100;
    width: 455px;
}

.info-message-text{
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    height: 100%;
    text-align: center;
}

.info-message-text-container{
    height: 100%;
    width: 94%;
    display: table;
}

.delete-popup-link{
    margin: 1%;
    height: 17px;
    width: 17px;
    float: left;
    background: url("buttonset.png") -17px 0;
}

.delete-popup-link:hover{
    background: url("buttonset.png") -17px -17px;
}